@import "./variables";
@import "./mixins";

@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Signika', sans-serif;
  font-display: swap;
}

body {
  color: white;
  background: black;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 16px 0;
  font-family: 400;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1199px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  @include max-media-width($md) {
    padding: 0 16px;
  }
}

.header {
  display: flex;
  align-items: center;
  background: $black;
  border-bottom: border(1px);
  width: 100%;
  height: $header-height;
  padding: 16px 0;

  @include max-media-width($md) {
    height: $header-height-md;
  }
}

main {
  background: url("../public/images/main-bg-hd.jpg") no-repeat fixed bottom 0 center/cover;
  min-height: $dynamic-full-height;
  padding: $main-gap 0;
  position: relative;
  overflow: hidden;
  @include max-media-width($xl) {
    background: url("../public/images/main-bg-xl.jpg") no-repeat fixed center/cover;
    // min-height: $dynamic-full-height-md;
  }
  @include max-media-width($md) {
    background: url("../public/images/main-bg-md.jpg") no-repeat fixed center/cover;
    min-height: $dynamic-full-height-md;
  }
  &:after {
    content: "";
    background: linear-gradient(0deg, rgba(0,0,0,0.9500175070028011) 0%, rgba(0,0,0,0.9063760504201681) 5%, rgba(0,212,255,0.00167016806722693) 75%);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.content-wrapper {
  background: rgba($blue, .3);
  border: border(2px);
  border-radius: 20px;
  position: relative;
  z-index: 2;
  min-height: calc(100vh - $header-height - $footer-height - $main-gap * 2);
  overflow: hidden;
  @include max-media-width($md) {
    min-height: calc(100vh - $header-height-md - $footer-height-md - $main-gap * 2);
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .content {
    padding: 40px;
    position: relative;
    z-index: 3;
    @include max-media-width($md) {
      padding: 40px 20px;
    }
    a {
      color: $white;
      text-decoration: underline;
      &:hover {
        color: $blue;
      }
    }
  }
}

.footer {
  border-top: border(1px);
  background: $black;
  display: flex;
  align-items: center;
  padding: 16px 0;
  width: 100%;
  height: $footer-height;

  @include max-media-width($md) {
    height: $header-height-md;
  }
  &__copyright-text {
    color: $blue-dark;
    font-size: 0.85em;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 -16px;
  @include max-media-width($md) {
    margin: 0 -8px;
  }
  &__item {
    padding: 0 16px;
    @include max-media-width($md) {
      padding: 0 8px;
    }
  }
}
