@import "./variables";
@import "./mixins";

@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Signika', sans-serif;
  font-display: swap;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  @include min-media-width($md) {
    padding: 0 40px;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 16px 0;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid $blue;
}
main {
  height: calc(100vh - 200px - 2em);
  min-height: 400px;
  padding: 20px 0;
}
.footer {
  display: flex;
  align-items: center;
  padding: 16px 0;
  height: 100px;
  width: 100%;
  border-top: 1px solid $blue;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  &__item {
    padding: 0 16px;
  }
  &__link {}
}
