@import "./variables";
@import "./mixins";

@include h1-title;
@include h4-title;

.card {
  display: flex;
  gap: 40px;
  border: border(1px);
  border-radius: 20px;
  padding: 80px;
  position: relative;
  overflow: hidden;
  z-index: 3;
  @include max-media-width($lg) {
    padding: 40px;
  }
  @include max-media-width($md) {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  @include glass(rgba($blue, .9), blur(250px));

  &-wrapper {
    min-height: 580px;
    max-height: 697px;
    height: calc(100vh - $header-height - $footer-height - $main-gap * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    @include max-media-width($md) {
      height: calc(100vh - $header-height-md - $footer-height-md - $main-gap * 2);
      min-height: 510px;
    }
  }
  &__image {
    border: border(4px);
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    z-index: 2;
    @include max-media-width($lg) {
      width: 200px;
      height: 200px;
    }
    img {
      object-fit: cover;
    }
  }
  &__content {
    flex: 1;
    z-index: 2;
  }
  &__subtitle {
    @include max-media-width($lg) {
      font-size: 1.5em !important;
      line-height: 1.3em !important;
    }
    @include max-media-width($md) {
      font-size: 1em !important;
      line-height: 1.3em !important;
    }
  }
  &__text {
    max-width: 340px;
  }
}

.socials {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  &-wrapper {}
  &__item {}
  &__link {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 4px;
  }
}